body{
	background-color: #ededed;
}

.header{
	background-color: black;
}

#logo h4{
	color:white;
}
#logo{
	text-decoration: none;
}

.jumbotron{
	background-color:#0559ff;
	padding:10px 0;
	text-align: center;
	color:white;
}
.subhead{
	text-align: left;
}
.subhead h1{
	font-size: 36px;
	line-height: 1;
}

#board-name{
	width:400px;
}
#board-description, #contribution-description{
	width:600px;
}

.board, .contribution{
	background-color: white;
	border-radius: 7px;
	padding:15px;
	margin: 10px 0 0;
}
.board .name{
	color: #21a9ff;
	font-weight: 700;
	font-size: 20px;
}
.board .description{
	font-size: 14px;
	color: #646464;
}
.board .contributions, .contribution .date{
	font-size: 14px;
	color: #b5b5b5;
}
.board .controls, .contribution .controls{
	color: #69caff;
	margin-left:-5px;
}
.board .controls li{
	
}
.board .inflater{
	cursor: pointer;
}
.contribution .attachments-label{
	text-decoration: underline;
}
.collapsable{
	margin-top:5px;
}


.attachment{
	color: #21a9ff;
}

.section{
	padding-top:10px;
}



.no-padding{
	padding:0 0;
}
.no-margin{
	margin:0 0;
}
.hidden{
	display:none;
}
.inline-block{
	display:inline-block;
}