<div class="board">
	<a class="name add-board-toggle" href="#">+ Add a board</a>
	<div class="collapsable hidden">
		<p class="no-margin">Board Name</p>
		<input id="board-name" type="text" placeholder="A name for your board.">
		<p class="no-margin">Description</p>
		<textarea id="board-description" placeholder="What will be on your board?"></textarea>
		<br>
		<ul class="unstyled inline">
			<li><a class="add-board-button btn btn-small btn-primary"href="#">Add Board</a></li>
			<li><a class="add-board-minimize icon-remove" href="#"></a></li>
		</ul>
	</div>
</div>