<ul class="nav nav-tabs no-margin">
	<li><a href="#/jobs">Jobs</a></li>
	<li class="active"><a href="#/users">Users</a></li>
</ul>
<ul class="unstyled list-view no-margin">
	<li id="list-types">
		<p class="user-name-col muted no-margin inline-block" href="#">Name</p>
		<p class="user-email-col muted no-margin inline-block" href="#">Email</p>
	</li>
	<li id="add-a-user">
		<a id="add-a-user-text" href="#">+ Invite a User</a>
		<form id="add-a-user-form" class="no-margin hidden" action="#">
			<input autocomplete="off" value="Email">
			<a id="add-a-user-close" class="icon-remove" href="#"></a>
		</form>
	</li>
</ul>